asgiref==3.2.10
astroid==2.5.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cron-descriptor==1.2.24
Django==3.0.8
gunicorn==20.1.0
heroku==0.1.4
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
Pillow==8.2.0
pylint==2.7.4
PyMySQL==1.0.2
python-dateutil==1.5
pytz==2020.1
requests==2.25.1
sqlparse==0.3.1
toml==0.10.2
urllib3==1.26.4
whitenoise==5.2.0
wrapt==1.12.1
